<h1 style="text-align:center">TODO APP FOR DEVOPS</h1>
<ul>
    <% todos.forEach(function(todo){ %>
      <li><%- todo.title %> <input type="checkbox" name="<%- todo.id %>" id="<%- todo.id %>" value="<%- todo.status %>"></li>
    <% }); %>
</ul>

ALL GOOD !
